/* nav {
  width: 100vw;
}

nav ul {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  list-style-type: none;
}

nav li {
  display: block;
  padding: 1rem;
  background-color: black;
} */
