.identifier .plant {
  background-color: black;
  height: 10rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.plants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-auto-flow: row;
  gap: 4rem;
  width: 80vw;
  margin: 0 auto;
}

.plant h4 {
  font-style: italic;
}
